# Nba Regular Season 2018-19 Data Challenge

Your task will be to take the dataset given, and create an analysis answering the following 10 questions. This project will again test your knowledge of pandas in order to find the answers needed given the data you are presented with.

# What was the average age of player in the league?

In [1]:
import pandas as pd
import numpy as np

# What player scored the most points?

In [2]:
nba_data = pd.read_csv('nbastats2018-2019.csv')
nba_data.sort_values('Points', ascending = False)[['Name', 'Points']]

# James Harden

                      Name  Points
202           James Harden    36.1
179            Paul George    28.0
15   Giannis Antetokounmpo    27.7
151            Joel Embiid    27.5
253           LeBron James    27.4
..                     ...     ...
192         Donte Grantham     0.0
242           Andre Ingram     0.0
498            Okaro White     0.0
442           Kobi Simmons     0.0
14            Ike Anigbogu     0.0

[521 rows x 2 columns]

# What player had the most blocks during the season? Was it a post player (F/C)?

In [3]:
nba_data.sort_values('Blocks', ascending = False)[['Name', 'Blocks']]

# Myles Turner

                   Name  Blocks
476        Myles Turner     2.7
123       Anthony Davis     2.4
419   Mitchell Robinson     2.4
183         Rudy Gobert     2.3
303         Brook Lopez     2.2
..                  ...     ...
416     Duncan Robinson     0.0
413  Malachi Richardson     0.0
410          Davon Reed     0.0
259        B.J. Johnson     0.0
147        Trevon Duval     0.0

[521 rows x 2 columns]

# Based on the regular season, who had the best chance to win a title given their win percentage?

In [4]:
nba_data.columns

Index(['Name', 'Height', 'Weight', 'Team', 'Age', 'Salary', 'Points', 'Blocks',
       'Steals', 'Assists', 'Rebounds', 'FT%', 'FTA', 'FG3%', 'FG3A', 'FG%',
       'FGA', 'MP', 'G', 'PER', 'OWS', 'DWS', 'WS', 'WS48', 'USG', 'BPM',
       'VORP'],
      dtype='object')

In [10]:
nba_data.nlargest(5, 'WS')[['Name', 'WS']]

# James Harden

                      Name    WS
202           James Harden  15.2
15   Giannis Antetokounmpo  14.4
183            Rudy Gobert  14.4
299         Damian Lillard  12.1
179            Paul George  11.9

# What player had the best 3-pt percentage?

In [6]:
nba_data.nlargest(5, 'FG3%')[['Name', 'FG3%']]

# Scott Machado, Jordan Sibert, Trevor Duval, and Eric Moreland are tied at 1.0.

              Name   FG3%
147   Trevon Duval  1.000
312  Scott Machado  1.000
352  Eric Moreland  1.000
439  Jordan Sibert  1.000
95    Troy Caupain  0.667

# Who played the most minutes during the season

In [7]:
# Use win share divided by win share per 48 minutes

# What player given their player effiecency rating was the clutchest during the season?

In [8]:
# calculate dividend of efficiency and points.

# What team had the youngest roster?

In [9]:
# group by team

# Who is the highest paid player during the seasion?

# At the end of a game, who WOULDN'T you want on the Free Throw Line?