# Nba Regular Season 2018-19 Data Challenge

Your task will be to take the dataset given, and create an analysis answering the following 10 questions. This project will again test your knowledge of pandas in order to find the answers needed given the data you are presented with.

# What was the average age of player in the league?

In [1]:
import pandas as pd
import numpy as np

# What player scored the most points?

In [2]:
nba_data = pd.read_csv('nbastats2018-2019.csv')
nba_data.sort_values('Points', ascending = False)[['Name', 'Points']]

# James Harden

                      Name  Points
202           James Harden    36.1
179            Paul George    28.0
15   Giannis Antetokounmpo    27.7
151            Joel Embiid    27.5
253           LeBron James    27.4
..                     ...     ...
192         Donte Grantham     0.0
242           Andre Ingram     0.0
498            Okaro White     0.0
442           Kobi Simmons     0.0
14            Ike Anigbogu     0.0

[521 rows x 2 columns]

# What player had the most blocks during the season? Was it a post player (F/C)?

In [3]:
nba_data.sort_values('Blocks', ascending = False)[['Name', 'Blocks']]

# Myles Turner

                   Name  Blocks
476        Myles Turner     2.7
123       Anthony Davis     2.4
419   Mitchell Robinson     2.4
183         Rudy Gobert     2.3
303         Brook Lopez     2.2
..                  ...     ...
416     Duncan Robinson     0.0
413  Malachi Richardson     0.0
410          Davon Reed     0.0
259        B.J. Johnson     0.0
147        Trevon Duval     0.0

[521 rows x 2 columns]

# Based on the regular season, who had the best chance to win a title given their win percentage?

In [4]:
nba_data.columns

Index(['Name', 'Height', 'Weight', 'Team', 'Age', 'Salary', 'Points', 'Blocks',
       'Steals', 'Assists', 'Rebounds', 'FT%', 'FTA', 'FG3%', 'FG3A', 'FG%',
       'FGA', 'MP', 'G', 'PER', 'OWS', 'DWS', 'WS', 'WS48', 'USG', 'BPM',
       'VORP'],
      dtype='object')

In [5]:
nba_data.nlargest(5, 'WS')[['Name', 'WS']]

# James Harden

                      Name    WS
202           James Harden  15.2
15   Giannis Antetokounmpo  14.4
183            Rudy Gobert  14.4
299         Damian Lillard  12.1
179            Paul George  11.9

# What player had the best 3-pt percentage?

In [6]:
nba_data.nlargest(5, 'FG3%')[['Name', 'FG3%']]

# Scott Machado, Jordan Sibert, Trevor Duval, and Eric Moreland are tied at 1.0.

              Name   FG3%
147   Trevon Duval  1.000
312  Scott Machado  1.000
352  Eric Moreland  1.000
439  Jordan Sibert  1.000
95    Troy Caupain  0.667

# Who played the most minutes during the season

In [7]:
# Use win share divided by win share per 48 minutes times 48 to get the minutes.

nba_data['Minutes Played'] = nba_data['WS'] * 1/(nba_data['WS48']) * 48

nba_data.nlargest(5, 'Minutes Played')

# Bradley Beal

,Name,Height,Weight,Team,Age,Salary,Points,Blocks,Steals,Assists,...,G,PER,OWS,DWS,WS,WS48,USG,BPM,VORP,Minutes Played
37,Bradley Beal,77,207,Washington Wizards,25,25434263,25.6,0.7,1.5,5.5,...,82,20.8,5.9,1.7,7.6,0.120,28.4,2.8,3.7,3040.000000
486,Kemba Walker,73,184,Charlotte Hornets,28,12000000,25.6,0.4,1.2,5.9,...,82,21.7,5.5,1.9,7.4,0.123,31.5,3.3,3.9,2887.804878
202,James Harden,77,220,Houston Rockets,29,30431854,36.1,0.7,2.0,7.5,...,78,30.6,11.4,3.8,15.2,0.254,40.5,11.7,9.9,2872.440945
179,Paul George,81,220,Oklahoma City Thunder,28,30560700,28.0,0.4,2.2,4.1,...,77,23.3,7.0,4.9,11.9,0.201,29.5,5.5,5.3,2841.791045
208,Tobias Harris,81,235,Philadelphia 76ers,26,14800000,20.0,0.5,0.6,2.8,...,82,17.2,4.5,2.6,7.1,0.120,22.8,0.5,1.8,2840.000000

# What player given their player effiecency rating was the clutchest during the season?

In [8]:
nba_data.columns

Index(['Name', 'Height', 'Weight', 'Team', 'Age', 'Salary', 'Points', 'Blocks',
       'Steals', 'Assists', 'Rebounds', 'FT%', 'FTA', 'FG3%', 'FG3A', 'FG%',
       'FGA', 'MP', 'G', 'PER', 'OWS', 'DWS', 'WS', 'WS48', 'USG', 'BPM',
       'VORP', 'Minutes Played'],
      dtype='object')

In [9]:
# calculate dividend of efficiency and points.

nba_data['Points / PER'] = nba_data['Points'] / nba_data['PER']

nba_data.nlargest(5, 'Points / PER')

# Jawun Evans

,Name,Height,Weight,Team,Age,Salary,Points,Blocks,Steals,Assists,...,PER,OWS,DWS,WS,WS48,USG,BPM,VORP,Minutes Played,Points / PER
155,Jawun Evans,72,185,Los Angeles Clippers,22,1378242,0.8,0.0,0.4,1.3,...,0.1,-0.2,0.0,-0.2,-0.151,13.2,-10.5,-0.1,63.576159,8.000000
461,Jared Terrell,75,227,NaN,23,-,2.2,0.1,0.2,0.9,...,0.7,-0.4,0.0,-0.3,-0.140,19.6,-10.4,-0.2,102.857143,3.142857
413,Malachi Richardson,78,205,Philadelphia 76ers,23,1569360,1.4,0.0,0.0,0.0,...,0.9,-0.2,0.1,-0.1,-0.060,16.4,-10.8,-0.2,80.000000,1.555556
279,Kevin Knox,81,215,New York Knicks,19,3739920,12.8,0.3,0.6,1.1,...,8.7,-2.2,0.9,-1.3,-0.030,22.3,-6.0,-2.2,2080.000000,1.471264
26,Wade Baldwin,76,200,Indiana Pacers,22,1544951,1.9,0.1,0.1,0.8,...,1.3,-0.4,0.1,-0.3,-0.153,23.3,-10.7,-0.2,94.117647,1.461538

# What team had the youngest roster?

In [67]:
# group by team

nba_data.groupby(['Team']).count()

,Name,Height,Weight,Age,Salary,Points,Blocks,Steals,Assists,Rebounds,...,PER,OWS,DWS,WS,WS48,USG,BPM,VORP,Minutes Played,Points / PER
Team,,,,,,,,,,,,,,,,,,,,,
Atlanta Hawks,21,21,21,21,21,21,21,21,21,21,...,21,21,21,21,21,21,21,21,21,21
Boston Celtics,15,15,15,15,15,15,15,15,15,15,...,15,15,15,15,15,15,15,15,15,15
Brooklyn Nets,18,18,18,18,18,18,18,18,18,18,...,18,18,18,18,18,18,18,18,18,18
Charlotte Hornets,14,14,14,14,14,14,14,14,14,14,...,14,14,14,14,14,14,14,14,14,14
Chicago Bulls,16,16,16,16,16,16,16,16,16,16,...,16,16,16,16,16,16,16,16,16,16
Cleveland Cavaliers,16,16,16,16,16,16,16,16,16,16,...,16,16,16,16,16,16,16,16,16,15
Dallas Mavericks,15,15,15,15,15,15,15,15,15,15,...,15,15,15,15,15,15,15,15,15,15
Denver Nuggets,15,15,15,15,15,15,15,15,15,15,...,15,15,15,15,15,15,15,15,15,15
Detroit Pistons,15,15,15,15,15,15,15,15,15,15,...,15,15,15,15,15,15,15,15,15,15
Golden State Warriors,15,15,15,15,15,15,15,15,15,15,...,15,15,15,15,15,15,15,15,15,15
Houston Rockets,13,13,13,13,13,13,13,13,13,13,...,13,13,13,13,13,13,13,13,13,13
Indiana Pacers,17,17,17,17,17,17,17,17,17,17,...,17,17,17,17,17,17,17,17,17,17
Los Angeles Clippers,19,19,19,19,19,19,19,19,19,19,...,19,19,19,19,19,19,19,19,19,19
Los Angeles Lakers,16,16,16,16,16,16,16,16,16,16,...,16,16,16,16,16,16,16,16,16,16
Memphis Grizzlies,17,17,17,17,17,17,17,17,17,17,...,17,17,17,17,17,17,17,17,17,17
Miami Heat,11,11,11,11,11,11,11,11,11,11,...,11,11,11,11,11,11,11,11,11,11
Milwaukee Bucks,14,14,14,14,14,14,14,14,14,14,...,14,14,14,14,14,14,14,14,14,14
Minnesota Timberwolves,16,16,16,16,16,16,16,16,16,16,...,16,16,16,16,16,16,16,16,16,16
New Orleans Pelicans,18,18,18,18,18,18,18,18,18,18,...,18,18,18,18,18,18,18,18,18,18
New York Knicks,16,16,16,16,16,16,16,16,16,16,...,16,16,16,16,16,16,16,16,16,16
Oklahoma City Thunder,12,12,12,12,12,12,12,12,12,12,...,12,12,12,12,12,12,12,12,12,12
Orlando Magic,15,15,15,15,15,15,15,15,15,15,...,15,15,15,15,15,15,15,15,15,15
Philadelphia 76ers,17,17,17,17,17,17,17,17,17,17,...,17,17,17,17,17,17,17,17,17,17
Phoenix Suns,21,21,21,21,21,21,21,21,21,21,...,21,21,21,21,21,21,21,21,21,21
Portland Trail Blazers,14,14,14,14,14,14,14,14,14,14,...,14,14,14,14,14,14,14,14,14,14
Sacramento Kings,15,15,15,15,15,15,15,15,15,15,...,15,15,15,15,15,15,15,15,15,15
San Antonio Spurs,15,15,15,15,15,15,15,15,15,15,...,15,15,15,15,15,15,15,15,15,15
Toronto Raptors,12,12,12,12,12,12,12,12,12,12,...,12,12,12,12,12,12,12,12,12,12
Utah Jazz,15,15,15,15,15,15,15,15,15,15,...,15,15,15,15,15,15,15,15,15,15
Washington Wizards,17,17,17,17,17,17,17,17,17,17,...,17,17,17,17,17,17,17,17,17,17

# Who is the highest paid player during the seasion?

In [52]:
salary_list = []
player_list = []
d = {}

for i in range(521):
    if nba_data['Salary'][i].isdigit():
        salary_list.append(int(nba_data['Salary'][i]))
        player_list.append(nba_data['Name'][i])
        d[int(nba_data['Salary'][i])] = nba_data['Name'][i]
#         print(int(nba_data['Salary'][i]), nba_data['Name'][i])
    
print(max(salary_list))
for i in salary_list:
    count = 0
    if i >= 37457154:
        print('Oh no', count)
        count += 1
print(d[max(salary_list)])

# Stephen Curry

37457154
Oh no 0
Stephen Curry

# At the end of a game, who WOULDN'T you want on the Free Throw Line?

In [60]:
# nba_data.columns

nba_data.nsmallest(20, 'FT%')[['Name', 'FT%']]

# Jacob Evens, Haywood Highsmith, Terrence Jones, Tahjere McCall, Donatas Motiejunas, Dzanan Musa, and C.J. Williams
# each have FT%'s of 0.000.

                     Name    FT%
154           Jacob Evans  0.000
221     Haywood Highsmith  0.000
268        Terrence Jones  0.000
325        Tahjere McCall  0.000
356    Donatas Motiejunas  0.000
360           Dzanan Musa  0.000
502         C.J. Williams  0.000
168        Melvin Frazier  0.250
310           Tyler Lydon  0.333
451          Ray Spalding  0.333
324      Luc Mbah a Moute  0.400
27             Lonzo Ball  0.417
283          Kosta Koufos  0.417
472        Gary Trent Jr.  0.429
499      Hassan Whiteside  0.449
56           Jonah Bolden  0.481
3            Steven Adams  0.500
16   Kostas Antetokounmpo  0.500
61           Tony Bradley  0.500
128         Angel Delgado  0.500